<header
class="bg-transparent absolute top-0 right-0 w-full flex item-center z-10"
>
<div class="container">
  <div class="flex items-center justify-between relative">
    <div class="px-4">
      <img src="D-removebg-preview.png" alt="logo" class="w-10 sm:w-14" />
      <a href="#home"></a>
    </div>
    <div class=" flex px-4 items-center ">
        <button id="humberger" name="humberger" type="button" class="block absolute right-4">
          <span class="humb"></span>
          <span class="humb"></span>
          <span class="humb"></span>
        </button>
    </div>
  </div>
</div>
</header>

<script>
    
</script>