---
import Navbar from "../components/navbar.astro"
import "../assets/global.css"
export interface Props {
	title: string;

}
const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>D4ffa | {title}</title>
	
	</head>
	<body>
		<div>
			<Navbar />
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>